{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <h3>Add Task</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <form action="" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input placeholder="Task Name" id="task_name" name="task_name" type="text" class="validate">
                        <label for="task_name">Task Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea id="task_description" name="task_description"
                                  class="materialize-textarea validate"></textarea>
                        <label for="task_description">Task Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">today</i>
                        <input id="due_date" name="due_date" type="text" class="datepicker">
                        <label for="icon_prefix">Due Date</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Switch -->
                    <div class="switch">
                        <label>
                            <input type="checkbox" id="is_urgent" name="is_urgent">
                            <span class="lever"></span>
                            Is Urgent
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}